.header{
    margin-bottom: 80px;
    font-family: '/Styles/rioGlamour.otf', sans-serif;
}
.newPost{
    position: relative;
    border-radius: 1px;
    background: none;
    border: none;
    font-size: 20px;
    width: 150px;
    height: 60px;
    float: right;
    bottom: 65px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.8s;
}
.newPost:hover{
    background-color: rgba(150,179,248,.1);
    font-size: 24px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.logo{
    position: relative;
    float: left;
    bottom: 80px;
    left: -8px;
    background-image: url("../sampleLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    width: 200px;
    height: 85px;
}
table{
    width: 85%;
    margin-left: 350px;
    font-family: '/Styles/rioGlamour.otf', sans-serif;

}
.content{
    position: relative;  
    background: rgba(39,164,221, .2);
    float: left;
    width: 75%;
    border-style: solid;
    border-color: black;
    color: black;
    border-width: 2px;
    padding: 20px;
    height: 100px;
    margin-bottom: 20px;

}

.imgdiv{
    position: relative;
    float: left;
    left: -10px;
    width: 100px;
    height: 100%;
    background-image: url("../sampleLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.title{
    position: relative;
    float:right;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 85%;
    height: 50%;
    padding: 20px;
    margin-bottom: 10px;
}