.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

.body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.buttonSmall {
    background-color: #94c5e3;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 125px
}

.buttonLarge {
    background-color: #94c5e3;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 175px
}

.buttonSmall:hover {opacity: 1}

.buttonLarge:hover {opacity: 1}