body{
    background-color: rgba(219,233,224,1);
}
.header {
  padding: 10px 16px;
  background: rgba(150,179,248,1);
  color: black;
  text-align: center;
}

/* Page content */
.content {
    padding: 16px;
}

/* individual comment dividers :) */
.comment{
    border-style: dotted;
    padding: 20px;
    margin-bottom: 10px;
    background-color: rgba(150,179,248,.4);
}

.newComment{
    position: relative;
    border-radius: 1px;
    background: none;
    border: none;
    font-size: 30px;
    width: 150px;
    height: 60px;
    float: right;
    bottom: 65px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.8s;
}
.newComment:hover{
    background-color: rgba(150,179,248,.1);
    font-size: 35px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.threadName{
    border-style: dotted;
    top: 125px;
    left: 500px;   
    
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

/*body{
        background-color: #02a8f4;
}

h2{

        color: blue;

}

.header{
        border-style: dotted;
        height: 90px;
}

.boards{
        border-style: dotted;
        height: 800px;
}*/