body{
    
    background-color: rgba(219,233,224,1);
    
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

/* Page content */
.content {
  padding: 16px;
}

/* individual comment dividers :) */
.comment{
    
    border-style: dotted;
    padding: 20px;
    margin-bottom: 10px;
    background-color: rgba(150,179,248,.4);
    
}

.newComment{
    border-radius: 1px;
    background: none;
    width: 100px;
    height: 40px;
    color:black;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

/*body{
	background-color: #02a8f4;
}

h2{

	color: blue;

}

.header{
	border-style: dotted;
	height: 90px;
}

.boards{
	border-style: dotted;
	height: 800px;
}*/